@import "./collect.scss "; // TODO:

#__dashao {
  iframe {
    // display: none;
  }

  .bar_empty {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .jquery-modal {
    display        : flex;
    align-items    : center;
    justify-content: center;
  }
}

*:not(svg, i, use, path) {
  transition: all 0.3s;
}