@import "./global.scss"; // TODO:

#__dashao {
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  body {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  iframe {
    display: none;
  }
}

* {
  transition: all 0.3s;
}