@import '~@/app/global/styles/index';

#__dashao {

  ._search_fitler {
    $m-w          : 16px; // TODO:
    padding       : 8px 16px;
    border        : 1px rgba(0, 0, 0, .3) solid;
    display       : flex;
    flex-direction: column;

    .filter-row {

      display    : flex;
      align-items: center;


      label {
        margin-right: $m-w;
      }

      .custom_input {
        display    : inline-flex;
        align-items: center;
        margin-left: $m-w;

        input+input,
        input+button {
          margin-left: $m-w;
        }

      }

      .cy_tag {
        font-size: 12px;
      }

      .cy_tag+.cy_tag {
        margin-left: $m-w;
      }

      .cy_input {
        width: 120px;
      }
    }

    .filter-row+.filter-row {
      margin-top: $m-w;
    }
  }
}