button {
  display         : flex;
  white-space     : nowrap;
  border          : 0;
  background-color: #03A9F4;
  border-radius   : 5px;
  margin          : 0;
  padding         : 6px;
  color           : #fff;
}