{
    "presets": [
        [
            "env",
            {
                "modules": "commonjs"
            }
        ],
        "stage-3"
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}