{
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-async-generators",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}