@import '~@/app/global/styles/index';

#__dashao {
  ._search_filter_box {
    .cy_input {
      width: 60px;

      &[size="large"] {
        width: 200px;
      }
    }

    .content_row {
      label {
        width: 80px;
      }

    }

    .panel_content {
      .content_row {
        .tags {
          margin-right: 16px;
        }
      }
    }

    .cy_tag+.cy_titps {
      margin-left: 16px;
    }
  }
}