@import "./the.scss";
@import "./collect.scss";
@import "./loading.scss";

#__dashao {
  margin: 0;

  iframe {
    // display: none;
  }

  .bar_empty {
    @include bar_empty;
  }

  .jquery-modal {
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 99;
  }

  #footer,
  .footer,
  footer {
    display: none;
  }

  .none {
    display: none;
  }

  #clearBtn {
    position: fixed;
    left    : 50px;
    top     : 50px;
  }

  body {
    filter: grayscale(0);
  }
}

*:not(svg, i, use, path) {
  transition: all 0.3s;
}