#__dashao {
  .cy_btn {
    white-space           : nowrap;
    border-radius         : 4px;
    display               : inline-flex;
    align-items           : center;
    justify-content       : center;
    font-size             : 12px;
    min-width             : 80px;
    text-decoration       : none;
    min-height            : 30px;
    color                 : #fff;
    // color              : #4c5161;
    cursor                : pointer;
    background-color      : #2a80eb;
    background-repeat     : no-repeat;
    border                : 1px solid #d0d0d5;
    box-sizing            : border-box;
    transition            : border-color .15s, box-shadow .15s, opacity .15s;

    &[type="g"] {
      background-color: #1cad70;
    }

    &[type="r"] {
      background-color: #eb4646;
    }

    &[type="o"] {
      background-color: #f59b00;
    }

    &[type="b"] {
      background-color: #9e9e9ec7;
      color           : black;
    }

    &:hover {
      border-color: #ababaf;
      box-shadow  : inset 0 1px 2px rgba(0, 0, 0, .01), inset 0 0 0 100px rgba(0, 0, 0, .05);
    }
  }

  .cy_input {
    box-sizing      : border-box;
    border-radius   : 0;
    height          : 34px;
    padding         : 6px 12px;
    font-size       : 14px;
    line-height     : 1.42857143;
    color           : #555;
    background-color: #fff;
    background-image: none;
    border          : 1px solid #ccc;
    border-radius   : 4px;
    box-shadow      : inset 0 1px 1px rgba(0, 0, 0, .075);
    transition      : border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      border-color: #66afe9;
    }
  }

  .cy_tag {
    line-height     : 1;
    font-size       : 14px;
    font-weight     : 700;
    height          : 30px;
    border-radius   : 5px;
    color           : #fff;
    background-color: #777;
    align-items     : center;
    justify-content : center;
    text-align      : center;
    white-space     : nowrap;
    padding         : 2px 8px;
    cursor          : pointer;
    vertical-align  : baseline;
    display         : inline-flex;

    &:hover {
      border-color: #ababaf;
      box-shadow  : inset 0 1px 2px rgba(0, 0, 0, .01), inset 0 0 0 100px rgba(0, 0, 0, .05);
    }

    &[type="p"] {
      background-color: #337ab7;
    }
  }
}