.none {
  transform: scale(0.01);
  width    : 20.5px;
  height   : 1.1px;
}

form[name='FORM'],
.tips,
iframe,
b,
.sptable_do_not_remove {
  @extend .none; // TODO:
}

@for $var from 1 to 28 {
  .f#{$var} {
    @extend .none;
    display: none;
  }
}