.tr-info {
  display    : flex;
  align-items: center;
  padding    : 0 0 16px 20px;

  .tr-title {
    margin-right   : 16px;
    align-items    : center;
    justify-content: center;
    display        : inline-flex;
  }

  .tr-info-item {
    display: inline-flex;
  }

  .tr-info-item+.tr-info-item {
    margin-left: 8px;
  }
}