.custom-box {
  word-wrap: break-word;
  overflow: auto;
  width: 100%;
  height: 250px;
}
.custom-btn {
  position: absolute;
  left: 50px;
  top: 200px;
  font-size: 16px;
  width: 50px;
  height: 30px;
  z-index: 100;
}
.start {
  top: 250px;
}
.custom-dig {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
  background: #fff;
  height: 350px;
  width: 500px;
  border: 1px solid red;
}
.custom-dig-hiddle {
  display: none;
}
.btn {
  bottom: 0;
  position: absolute;
  height: 50px;
  margin-top: 20px;
}
.custom-btn-sub {
  width: 30%;
  right: 0;
}
.custom-btn-close {
  width: 30%;
  left: 0;
}
.custom-btn-del {
  width: 30%;
  left: 35%;
}
