a[href="https://click.dtiserv2.com/Click2/517-103-us10649"] {
  display: none;
}
.container {
  width: calc(100vw - 100px);
  > .row {
    display: flex;
    .col-md-9.col-sm-8 {
      width: auto;
      display: flex;
      flex-direction: column;
      .row {
        display: flex;
        flex-wrap: wrap;
        > div {
          width: 500px;
        }
      }
    }
    .list-group {
      width: 200px;
    }
  }
}

.ball-pulse-rise {
  width: 30%;
  height: 30%;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    background: #ed5565;
  }
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  align-items: center;
  display: flex; // TODO:
  justify-content: center;
  z-index: 999999999999999999999999999999999999;
  &::before {
    content: '';
    width: 100%;
    color: #fff;
    height: 100%;
    opacity: 0.65;
    background: white;
    position: absolute;
  }
}

.none {
  display: none;
}

.btn_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  ._btn {
    height: 50px;
    width: 250px;
    color: white;
    display: inline-flex;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background: #ed5565;
    align-items: center;
    transition: all 0.2s;
    justify-content: center;
    &:hover {
      transform: scale(1.2);
    }
  }
  .more_btn {
    margin-right: 40px;
  }
  .reset_btn {
  }
}

.hidden-xs {
  display: none;
}
