@import "./spop.scss"; // TODO:

#sidebar {
  display: none;
}
#wrapper {
  width: 1680px;
  #main {
    width: auto;
    #content {
      width: 100%;
    }
    #breadcrumb {
      width: 100%;
    }
  }
}

@keyframes mark {
  0% {
    opacity: 0; // TODO:
  }
  100% {
    opacity: 1; // TODO:
  }
}

.mark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  animation: mark 0.2s linear; // TODO:
  &::before {
    content: "";
    width: 100%;
    color: #fff;
    height: 100%;
    opacity: 0.65;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

#loading {
  @extend .mark; // TODO:
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  align-items: center;
  display: flex; // TODO:
  justify-content: center;
  z-index: 999999999999999999999999999999999999;
  .ball-pulse-rise {
    width: 30%;
    height: 30%;
    z-index: 111;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      background: #ed5565;
    }
  }
}

#footer,
.wp-pagenavi {
  display: none;
}

.none {
  display: none;
}

.btn_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  ._btn {
    height: 50px;
    width: 250px;
    color: white;
    display: inline-flex;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background: #ed5565;
    align-items: center;
    transition: all 0.2s;
    justify-content: center;
    &:hover {
      transform: scale(1.2);
    }
  }
  .more_btn {
    margin-right: 40px;
  }
  .reset_btn {
  }
}

.query-btn {
  color: red;
  cursor: pointer;
  font-size: 24px;
  white-space: nowrap;
}

#id-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  align-items: center;
  display: flex; // TODO:
  justify-content: center;
  z-index: 999999999999999999999999999999999999;
  $content-w: 800px; // TODO:
  @keyframes move-left {
    0% {
      width: 0; // TODO:
    }
    100% {
      width: $content-w; // TODO:
    }
  }
  .modal-content {
    padding: 8px;
    z-index: 9;
    height: 100%;
    width: $content-w; // TODO:
    display: flex;
    margin-left: auto;
    flex-direction: column;
    background-color: #fff;
    animation: move-left 0.1s linear; // TODO:
    background-clip: padding-box;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }
}

.modal-none {
}

.hidde {
  overflow: hidden;
}

.info-li {
  border: 1;
  padding: 4px;
  display: flex;
  margin-top: 8px;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid #f14d4d;
  justify-content: flex-start;
  box-shadow: -2px 0 8px rgba(105, 117, 175, 0.65);
  .title {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
  }
  .info-textarea {
    margin-top: 8px;
    display: flex;
    cursor: pointer;
  }
}
