.container {
  width: calc(100% - 60px);
  .masonry__container.masonry--active {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    .masonry__item {
      top: auto;
      left: auto;
      position: relative;
      height: max-content;
      margin-bottom: 16px;
      display: inline-flex;
      width: 200px;
    }
  }
  .tsc_pagination {
    display: none;
  }
  .custom_more {
    width: calc(100% / 1.2);
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 17px;
    border-radius: 3px;
    background: #2c2c2c;
    text-decoration: none;
    text-decoration: none;
    border: 1px solid #252525;
    margin: auto;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #2aa461;
      border-color: #2aa461;
      transform: scale(1.2);
    }
  }
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  align-items: center;
  display: flex; // TODO:
  justify-content: center;
  z-index: 999999999999999999;
  &::before {
    content: "";
    width: 100%;
    color: #fff;
    height: 100%;
    opacity: 0.65;
    background: white;
    position: absolute;
  }
}

.none {
  display: none;
}

.ball-pulse-rise {
  width: 30%;
  height: 30%;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    background: #2aa461;
  }
}

@keyframes mark {
  0% {
    opacity: 0; // TODO:
  }
  100% {
    opacity: 1; // TODO:
  }
}

.mark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  background-color: transparent;
  animation: mark 0.2s linear; // TODO:
  &::before {
    content: "";
    width: 100%;
    color: #fff;
    height: 100%;
    opacity: 0.65;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

#id-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  align-items: center;
  display: flex; // TODO:
  justify-content: center;
  z-index: 9999999999999;
  $content-w: 800px; // TODO:
  @keyframes move-left {
    0% {
      width: 0; // TODO:
    }
    100% {
      width: $content-w; // TODO:
    }
  }
  .modal-content {
    z-index: 9;
    padding: 16px;
    height: 100%;
    display: flex;
    overflow-y: auto;
    margin-left: auto;
    flex-direction: column;
    background-color: #fff;
    width: $content-w; // TODO:
    background-clip: padding-box;
    animation: move-left 0.1s linear; // TODO:
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }
}

#search_btn {
  top: 300px;
  z-index: 9;
  color: #fff;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  position: fixed;
  border-radius: 50%;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  background-color: #2aa461;
  cursor: pointer;
  transition: all 0.1;
  &:hover {
    transform: scale(1.2);
  }
}
