.artical-title {
  display: flex;
  justify-content: center;
}

.artical-title-list {
  display: flex;
  justify-content: flex-start;
}

.editor-side-new {
  max-width: 100vw;
}
.artical-title-list a.checkFollow-btn.on {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 10px;
}
.fr {
  margin-left: auto;
}
.Index .Right {
  display: none;
}
.Index .Left {
  width: 100%;
}
.Index .Left .cates {
  width: 370px;
}
.Index .Left .cates li .layer3 {
  left: 370px;
}

#banners {
  width: 73.8636%;
}
.Blog-Right {
  position: fixed;
  left: 50%;
  bottom: 190px;
  margin-left: 661px;
  right: 0;
}
@media (min-width: 1250px) {
  .Page {
    width: 1200px;
  }
  .editor-side-new * {
    font-size: 18px;
  }
  .editor-preview > p,
  .editor-preview-side > p a {
    font-size: 14px;
  }
}
@media (min-width: 1750px) {
  .Page {
    width: 1480px;
  }
  .editor-side-new * {
    font-size: 20px;
  }
  .editor-preview > p,
  .editor-preview-side > p a {
    font-size: 16px;
  }
}

#Mask,
#topbanner14,
.Right,
.mRead,
.Footer,
.more.maps,
.rightTools,
.service-btn,
.group_img_box,
.comment-creat,
.special-column,
.recommend-column,
.Navigates.Navigates-right.more.maps,
a[href="https://blog.51cto.com/blog/follow"],
.Navigates.fl li .column-stress {
  display: none;
}

.blog-my .Left {
  width: auto;
}

.con {
  font-size: 16px;
}
.tit {
  font-size: 22px;
}
