#__dashao {
  .d-none {
    display: none;
  }
  .container {
    width: calc(100% - 60px);
    max-width: none;
    .row {
      > div {
        display: none;
        &:first-child {
          display: block;
        }
      }
    }
  }
}
