.footer,
.zq-logo,
#mywenku,
#nav-edu,
.vip-card,
#jghz-menu,
#docBubble,
.mod.tousu,
#activity-tg,
#doc-comment,
.centerRight,
#channel-menu,
#jingpin-menu,
.cover-img-ie8,
.open-in-phone,
.add-has-money-pay,
#my-wkHome-vip-tips,
.wk-other-new-cntent,
.pgcuser-approve-warp,
.yuedu-recommend-wrap,
.doc-tag-wrap.super-vip,
.top-search-box .s_tools,
.main-nav.side-nav.clearfix,
.banner-core-wrap.super-vip,
.search-wrapper-box-recommend.clearfix,
.normal.mr13.vip-free-alert.vip-free-new,
.doc-bottom-wrap.complex.hidden-doc-banner,
.header-box-recommend.clearfix.inline {
  display: none;
}

a[data-href="http://news.baidu.com"],
a[href="/user/browse/vip/"],
li[style="width: 122px;"],
a[data-href="https://b2b.baidu.com"] {
  display: none;
}

body {
  overflow: auto;
}
