@import "../app/global/styles/collect.scss";


.main-container {
  width          : 100%;
  display        : flex;
  justify-content: center;
  padding-left   : 16px;
  padding-right  : 16px;

  .article {
    width: 100%;
  }


  #sidebar {
    @include empty_element;
  }

  .topad {
    @include empty_element;
  }
}

.container {
  width          : 100%;
  display        : flex;
  justify-content: center;
  padding-left   : 16px;
  padding-right  : 16px;
}

#commentsAdd,
.related-posts,
#site-footer {
  @include empty_element;
}