.Tabs-link.AppHeader-TabsLink[href="//www.zhihu.com/question/waiting"] {
  display: none !important;
}

.Messages-list {
  a[href="//www.zhihu.com/inbox/2604512670"],
    a[href="//www.zhihu.com/inbox/0899455870"],
  a[href="//www.zhihu.com/inbox/1137339936293408768"] {
    display: none !important;
  }
  a[href="//www.zhihu.com/inbox/5793442270"],
    a[href="//www.zhihu.com/inbox/4651746360"],
  a[href="//www.zhihu.com/inbox/0555970660"] {
    display: none !important;
  }
  a[href="//www.zhihu.com/inbox/2479177150"] {
    display: none !important;
  }
  a[href="//www.zhihu.com/inbox/0497676840"] {
    display: none !important;
  }
}

.GlobalSideBar-categoryItem {
  a[href='/consult'],
  a[href='/lives'] {
    display: none !important;
  }
}

.GlobalSideBar-categoryItem {
  width: auto !important;
  margin-right: 20px !important;
}

.Topstory-mainColumn {
  width: calc(100% - 300px) !important;
}

.GlobalSideBar {
  width: 300px !important;
}

.Card[data-za-detail-view-path-module='ContentList'] {
  display: none !important;
}

.Question-sideColumn.Question-sideColumn--sticky {
  width: 300px !important;
}

@function vw($dx) {
  @return (100 / $dx) * 1vw; // TODO:
}

@media (min-width: 1250px) {
  $vw: vw(1); // TODO:
  .ContentItem-actions.Sticky.RichContent-actions.is-fixed.is-bottom {
    width: calc(#{$vw} - 420px) !important;
  }
  .Topstory-container,
  .AppHeader-inner,
  .Question-main,
  .QuestionHeader-content,
  .QuestionHeader-footer-inner {
    width: calc(#{$vw} - 100px) !important;
  }
  .Question-main {
    .ListShortcut {
      .Question-mainColumn {
        width: calc(#{$vw} - 420px) !important;
      }
    }
  }
  .QuestionPage {
    .Question-main {
      .Question-mainColumn {
        margin-right: 20px !important;
        width: calc(#{$vw} - 420px);
      }
    }
  }
  .Sticky.AppHeader.is-fixed.is-hidden {
    width: $vw;
  }

  header.Sticky.AppHeader.is-fixed {
    width: $vw;
  }
}

@media (min-width: 2000px) {
  $vw: vw(1.2); // TODO:
  .ContentItem-actions.Sticky.RichContent-actions.is-fixed.is-bottom {
    width: calc(#{$vw} - 420px) !important;
  }
  .Topstory-container,
  .AppHeader-inner,
  .Question-main,
  .QuestionHeader-content,
  .QuestionHeader-footer-inner {
    width: calc(#{$vw} - 100px) !important;
  }
  .Question-main {
    .ListShortcut {
      .Question-mainColumn {
        width: calc(#{$vw} - 420px) !important;
      }
    }
  }
  .QuestionPage {
    .Question-main {
      .Question-mainColumn {
        margin-right: 20px !important;
        width: calc(#{$vw} - 420px);
      }
    }
  }
  .Sticky.AppHeader.is-fixed.is-hidden {
    width: $vw;
  }

  header.Sticky.AppHeader.is-fixed {
    width: $vw;
  }
}

.Sticky--holder {
  width: 300px;
}

.AdblockBanner {
  display: none !important;
}

.ColumnPageHeader-Wrapper {
  .Sticky.ColumnPageHeader.is-fixed {
    width: 100vw;
  }
}
