$width: calc(100% - 80px); // TODO:

html {
  overflow: scroll;

  .Modal-wrapper {
    display: none;
  }
}

#root {

  .List-item {
    &:hover {
      box-shadow: none;
    }
  }


  .Footer,
  .AdblockBanner,
  .Pc-card.Card,
  footer {
    display: none;
  }

  div {
    .Sticky.AppHeader {
      .AppHeader-inner {
        width: $width;
      }
    }

    header {
      .PageHeader.is-shown {
        .TopstoryPageHeader {
          width: $width;
        }
      }
    }
  }

  .ListShortcut {
    width      : auto;
    margin-left: 0;
  }

  main {
    display        : flex;
    justify-content: center;

    >div {
      width: $width;
    }

    .Topstory {
      .Topstory-container {
        width: $width;

        .Topstory-mainColumn {
          width: 100%;
        }

        .GlobalSideBar {
          div {
            .Sticky {
              .StoryCompetitionBanner {
                display: none;
              }

              .Card {
                .GlobalSideBar-navList {
                  li {

                    a[href="/community"],
                    a[href="/copyright"] {
                      display: none;
                    }
                  }
                }

                .GlobalSideBar-categoryList {
                  margin: auto;

                  li {

                    a[href="/lives"],
                    a[href="/pub/"],
                    a[href="/roundtable"],
                    a[href="/consult"] {
                      display: none;
                    }
                  }
                }
              }

              footer {
                display: none;
              }
            }
          }

          width: 300px;
        }
      }
    }

    .ContentLayout-mainColumn {
      width: $width;
    }

    .Card.TopstoryItem.TopstoryItem--advertCard.TopstoryItem-isRecommend {
      display: none;
    }
  }

  .CornerAnimayedFlex {
    &:first-child {
      display: none;
    }
  }
}