$width: calc(100% - 80px); // TODO:

#root {
  .QuestionPage {
    overflow-x: hidden;

    .QuestionHeader {
      .QuestionHeader-content {
        width: 100%;

        .QuestionHeader-main {
          width: calc(100% - 296px);

          .QuestionHeader-side {
            .QuestionHeader-follow-status {
              .NumberBoard.QuestionFollowStatus-counts.NumberBoard--divider {
                width: auto;
              }
            }
          }
        }
      }

      .QuestionHeader-footer {
        width: 100%;

        .QuestionHeader-footer-inner {
          width: 100%;
        }
      }
    }

    .Question-main {
      width          : 100%;
      display        : flex;
      justify-content: center;
      padding        : 0;

      .ListShortcut {
        flex        : 1 1 auto;
        margin-right: 10px;

        .ContentItem.AnswerItem {
          .RichContent {
            .RichContent-inner {
              .ContentItem-actions.Sticky.RichContent-actions.is-fixed.is-bottom {
                width: calc(100% - 296px);
              }
            }
          }
        }
      }

      .Question-mainColumn {
        width: calc(100% - 300px);
      }

      .Question-sideColumn.Question-sideColumn--sticky {
        min-width: 300px;

        .Sticky {
          .Card[data-za-detail-view-path-module="ContentList"] {
            display: none;
          }
        }
      }

      .Question-mainColumn+.Question-sideColumn.Question-sideColumn--sticky {
        margin-left: 8px;
      }
    }
  }
}