.App-main {
  header {
    .PageHeader.is-shownr {
      .ProfileMain-header {
        width: calc(100vw - 80px);
      }
    }
  }

  #ProfileHeader {
    width: calc(100vw - 80px);
  }

  .Profile-main {
    width: calc(100vw - 80px);

    .Profile-mainColumn {
      margin-right: 20px;
      width       : max-content;
    }

    .Profile-sideColumn {
      flex       : 1 1 auto;
      width      : max-content;
      white-space: nowrap;
    }
  }
}

.ImageGallery.is-active {
  display        : flex;
  align-items    : center;
  justify-content: center;

  .ImageGallery-Content {
    top : auto;
    left: auto;
  }
}