.app-guide,
.header,
.translate-setting,
.inner.clearfix {
  display: none;
}
.input-wrap,
.ordinary-wrap .output-bd {
  min-height: 65vh;
}
.inner-te,
.inner {
  width: 100vw;
  padding: 30px;
  box-sizing: border-box;
}

.translateio {
  margin-top: 20px;
}
.container {
  overflow: hidden;
}

#baidu_translate_input {
  height: 100%;
}
